/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color Variables */
:root {
    --primary: #0F172A;
    --secondary: #1E293B;
    --accent: #3B82F6;
    --background: #F8FAFC;
    --card: #FFFFFF;
    --text: #0F172A;
    --muted: #64748B;
    --success: #22C55E;
    --danger: #EF4444;
}

/* Body */
body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background);
    color: var(--text);
}

/* Container */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* Section Spacing */
section {
    padding: 60px 0;
}

/* Headings */
h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

/* Buttons */
.btn {
    padding: 12px 24px;
    background-color: var(--accent);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #2563EB;
}

/* Banner */
.banner{
    background-image: url(/images/banners/sale-banner1.jpg  );
    height: 350px;
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Dark Overlay */
.banner-overlay{
    background: rgba(0,0,0,0.5);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Banner Content */
.banner-content{
    text-align: center;
    color: white;
}

.banner-content h2{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.banner-content p{
    font-size: 18px;
    margin-bottom: 25px;
}

.banner .btn{
    padding: 14px 28px;
    font-size: 16px;
}

/* Newsletter Section */
.newsletter{
    background: var(--accent);
    text-align: center;
    padding: 60px 0;
    color: white;
}

.newsletter-content h2{
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: 700;
}

.newsletter-content p{
    margin-bottom: 20px;
}

/* Form */
.newsletter-form{
    display: flex;
    justify-content: center;
    gap: 10px;
    max-width: 500px;
    margin: auto;
}

/* Input */
.newsletter-form input{
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
}

/* Button */
.newsletter-form btn{
    background: var(--primary);
}

.newsletter-form .btn:hover {
    background: #020617;
}